@import './node_modules/@angular/material/_theming.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-blue, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-amber, A200, A100, A400);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
  .title{
    color:white;
    }
}

.material-icons.md-18 {
    font-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
}
.material-icons.md-24 {
    font-size: 24px !important;
    height: 24px !important;
    width: 24px !important;
}
.material-icons.md-36 {
    font-size: 36px !important;
    height: 36px !important;
    width: 36px !important;
}
.material-icons.md-48 {
    font-size: 48px !important;
    height: 48px !important;
    width: 48px !important;
}

//Custom Section

.step-card{
    width: 200px;
    height: 150px;
    mat-card-header {
        display:flex;
        justify-content:center
    }
}

.mat-figure{
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.myGrid{
    display:flex;
    flex-direction:column;
    div {
        display:flex;
        flex-direction:row;
        div:first-of-type{
            width:60px;
        }
        div:nth-child(2){
            display:inline-block;
            width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }
}

.check-icon{
    position:absolute;
    top:10px;
}

