language: node_js
node_js: v8.12.0
#env: ELECTRON_CACHE=$HOME/.cache/electron ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder USE_HARD_LINKS=false
#cache:
  #yarn: true
  #directories:
  #- node_modules
  #- $HOME/.cache/electron
  #- $HOME/.cache/electron-builder
git:
  depth: 1
install:
  - npm -g install projecto
before_script:

script:
  - yarn release-linux
