language: node_js
node_js: lts/*
env:
  DEFAULT=release
matrix:
  include:
    - os: osx
    - os: linux
cache:
  yarn: true
  directories:
  - node_modules
install:
  - npm -g install projecto
before_script:

script:
  - yarn release-linux
before_cache: