image: Visual Studio 2017
environment:
  nodejs_version: "LTS"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install npm@latest -g
  - npm install projecto -g
build_script:
 - po i
 - cd electron
 - .\node_modules\.bin\electron-builder -w
after_build:
 - 7z a impi-win-build.zip %APPVEYOR_BUILD_FOLDER%\electron\package\*
artifacts:
 - path: .\package\*.*
  