version: 1.0.{build}
skip_non_tags: true
image: Visual Studio 2017
environment:
  nodejs_version: "LTS"
cache:
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'
  - "%LOCALAPPDATA%\\Yarn"
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install npm@latest -g
  - npm install projecto -g
build_script:
 - po i
 - cd electron
 - dir app
 - cd app
 - yarn install --production
 - cd ..
 - .\node_modules\.bin\electron-builder -w
 - cd ..
after_build:
 - 7z a impi-win-build.zip %APPVEYOR_BUILD_FOLDER%\electron\package\win-ia32-unpacked\*
artifacts:
 - path: .\electron\package\*.exe
   name: win32-installer
 - path: impi-win-build.zip
   name: win32-package
deploy:
  - provider: GitHub
    auth_token:
      secure: tGHs5BA07AQsDHT0zHThU4UaxEcsi468agSk4IeWrvd5qAhtrFkBx1hvm6xLt9Fu
    artifact: win32-installer,win32-package
    draft: true
    prerelease: false
    force_update: true