image: Visual Studio 2017
environment:
  nodejs_version: "LTS"
cache:
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'
  - "%LOCALAPPDATA%\\Yarn"
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install npm@latest -g
  - npm install projecto -g
build_script:
 - po i
 - dir .\electron
 - .\electron\node_modules\.bin\electron-builder -w
after_build:
 - 7z a impi-win-build.zip %APPVEYOR_BUILD_FOLDER%\electron\package\*
artifacts:
 - path: .\electron\package\*.exe
 - path: impi-win-build.zip
  