.mat-list[dense] .mat-list-option, .mat-nav-list[dense] .mat-list-option, .mat-selection-list[dense] .mat-list-option{
    height: 25px !important;
}

.mat-expansion-panel-header{
    padding-left: 8px !important;
    padding-right: 24px !important;
}

.mat-expansion-panel-body {
    padding-top: 0px !important;
    padding-right: 24px !important;
    padding-bottom: 8px !important;
    padding-left: 8px !important;
}