<h2 mat-dialog-title>{{ "anonymizer.Db.KFactor" | translate }}</h2>

<mat-dialog-content>
	@switch (state) {
		@case ('checking') {
			<p class="description">{{ "anonymizer.KFactor.Description" | translate }}</p>
			<div class="spinner-area">
				<mat-spinner diameter="32"></mat-spinner>
			</div>
		}
		@case ('success') {
			<ob-alert type="success">{{ "anonymizer.KFactor.SuccessMessage" | translate }}</ob-alert>
		}
		@case ('error') {
			<ob-alert type="error">{{ error || ("anonymizer.KFactor.FailMessage" | translate) }}</ob-alert>
		}
	}
</mat-dialog-content>

<mat-dialog-actions align="end">
	@if (state === 'checking') {
		<button type="button" mat-button obButton="secondary" (click)="cancel()">
			{{ "anonymizer.KFactor.ButtonCancel" | translate }}
		</button>
	} @else {
		<button type="button" mat-button obButton="primary" (click)="close()">
			{{ "anonymizer.KFactor.ButtonClose" | translate }}
		</button>
	}
</mat-dialog-actions>
