<div class="kfactor-dialog">
	<h2 mat-dialog-title>{{ "anonymizer.Db.KFactor" | translate }}</h2>

	<mat-dialog-content>
		<div class="kfactor-content">
			<p class="description">
				{{ "anonymizer.KFactor.Description" | translate }}
			</p>

			<!-- Checking State -->

			<div style="min-height: 64px">
				<ob-spinner [channel]="channel" />
			</div>

			<!-- Result State -->
			@if (checkComplete && !isChecking) {
				<div class="result-state">
					<!-- Success -->
					@if (checkResult && !error) {
						<div class="alert alert-success">
							<mat-icon svgIcon="checkmark_circle"></mat-icon>
							<span>{{ "anonymizer.KFactor.SuccessMessage" | translate }}</span>
						</div>
					}
					<!-- Failure -->
					@if (!checkResult || error) {
						<div class="alert alert-danger">
							<mat-icon svgIcon="exclamation_circle"></mat-icon>
							<span>
								{{ error || ("anonymizer.KFactor.FailMessage" | translate) }}
							</span>
						</div>
					}
				</div>
			}
		</div>
	</mat-dialog-content>

	<mat-dialog-actions align="end">
		@if (!checkComplete) {
			<button type="button" mat-button obButton="secondary" (click)="cancel()" [disabled]="isChecking">
				{{ "anonymizer.KFactor.ButtonCancel" | translate }}
			</button>
		}
		@if (!checkComplete) {
			<button type="button" mat-button obButton="primary" (click)="startCheck()" [disabled]="isChecking">
				{{ "anonymizer.KFactor.ButtonStart" | translate }}
			</button>
		}
		@if (checkComplete) {
			<button type="button" mat-button obButton="primary" (click)="close()">
				{{ "anonymizer.KFactor.ButtonClose" | translate }}
			</button>
		}
	</mat-dialog-actions>
</div>
